body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15% 10%;
}

h1 {
  font-family: 'Montserrat-Black';
  font-size: 3rem;
  line-height: 1.5;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.button-Download {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.second {
  color: #ef8172;
  margin-left: 7rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
}

.second:hover {
  color: #ff4c68;
}

.headlines {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Montserrat-bold";
}

.para {
  color: #8f8f8f;
  padding: 0 30px;
  text-align: center;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 20px 20px 15px;
}

#pricing {
  padding: 80px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  text-align: center;
}

.tag-line {
  font-family: 'Montserrat-Bold';
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
}

#footer {
  background-color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.fabulous {
  margin: 1.5%;
}
